@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  font-family: "Lexend", sans-serif;
}

.card-component {
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  width: 25%;
  flex-direction: column;
  border-radius: 20px;
  border: solid 1px rgb(198, 197, 197);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.company-component {
  display: flex;
  gap: 20px;
  text-align: left;
}
.company-component > img {
  width: 40px;
  height: 40px;
}

.about-company > p {
  word-wrap: break-word;
}

.card-grp > div {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.company-name {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

.experience {
  margin-top: 15px;
  text-align: left;
}
.min-experience {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1.5px;
}

.company-role {
  text-transform: capitalize;
}
.company-location {
  text-transform: capitalize;
}

.salary {
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: 300;
}

.about-company {
  text-align: left;
}

.about-paragraph {
  font-weight: 300;
  margin-top: 5px;
}

.apply-button {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 20px;
  width: 100%;
  height: 40%;
  background-color: rgb(85, 239, 196);
}

.referal-button {
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 20px;
  width: 100%;
  height: 40%;
  color: white;
  background-color: rgb(26, 26, 151);
  border: 0;
}

.readmore-button {
  background-color: white;
  color: blue;
  border: 0;
  font-size: 15px;
}

.thunder-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.check-image {
  width: 15px;
  height: 15px;
  margin-left: 4px;
}

.blurred1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 7px;
}
.blurred2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 7px;
}

.company-location {
  margin-top: 6px;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .card-component {
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    width: 60%;
    flex-direction: column;
    border-radius: 20px;
    border: solid 1px rgb(198, 197, 197);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 601px) and (max-width: 950px) {
  .card-component {
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    width: 75%;
    flex-direction: column;
    border-radius: 20px;
    border: solid 1px rgb(198, 197, 197);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
