.card-component {
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  width: 25%;
  flex-direction: column;
}

.company-component {
  display: flex;
  gap: 20px;
  text-align: left;
}
.company-component > img {
  width: 40px;
  height: 40px;
}

.about-company > p {
  word-wrap: break-word;
}

.card-grp > div {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.company-name {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

.company-role {
  text-transform: capitalize;
}
.company-location {
  text-transform: capitalize;
}
